[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
numpy = "*"
networkx = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
fire = "*"
jsonlist = "*"
jsonlines = "*"
scholarly = "*"
free-proxy = "*"
openpyxl = "*"
textract = "*"
pyahocorasick = "*"
psutil = "*"
pymupdf = "*"
ftfy = "*"

[requires]
python_version = "3.6"
